
:root{
    --main-bg-color: hsl(340, 89%, 21%);  /*oficial color*/
    --color-secudary: #CFE5FF; /*oficial color*/
}

body{
    width: 100%;
    background-color: var(--main-bg-color); 
}
article{
    width: 100%;
}

h1, h2, h3, h4{
    color: var(--color-secudary);
}

.title{
    text-align: center;
    margin-top: 150px;
    margin-bottom: 75px;
    font-weight: bold;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
img.logo {
    align-items: center;
    height: 420px;
    border-radius: 100%;
    margin: 20px;
}
.column1{
    text-align: center;
}
.about{
    display: grid;
    grid-template-columns: 40% 20% 40%;
    justify-content: space-between;
    margin: 0px 20%;
    align-items: center;
}
.about-resume{
    margin: 0px 20px 5px 35px;
    font-size: x-large;
    font-weight: bold;
    color: var(--color-secudary);
    margin-right: 100px;
    text-align: left;
    align-items: center;
}
.dropdown{
    align-items: center;
    text-align: center;
    color: var(--color-secudary);
}
.dropdown button{
    align-items: center;
    text-align: center;
    color: var(--main-bg-color);
    background-color: var(--color-secudary);
    font-weight: bold;
}
.resume{
    align-items: center;
    text-align: center;
    margin-bottom: 60px;
}
.resume a{
    border: 2px solid var(--color-secudary);
    padding: 5px;
    font-weight: bold;
    background-color: var(--color-secudary);
    color: var(--main-bg-color);
    border-radius: 3px;
}


.education {
    border: 2px solid var(--color-secudary);
    text-align: left; 
    /*margin: 75px 25% 150px 25%;*/
    margin-top: 50px;
    margin-left: 25%;
    margin-right: 25%;
    padding: 20px;
}
.education-year{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.education h2{
    font-size: 22px;
}
.bacharelor{
    opacity: 0.9;
}
.education h4{
    margin-top: 10px;
    font-size: 15px;
    opacity: 0.6;
}
.university h2{
    font-size: 28px;
}


.skills{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 75px;
    
}
.skills i{
    display:inline;
    font-size: 40px;
    text-align: center;
    color: var(--color-secudary); /*oficial color*/
}
.skills h3{
    display:inline;
    justify-items: center;
    font-size: 20px;
    margin: 10px 0px 30px 5px;
}
.grid-item {
    padding: 20px;
    text-align: center;
}


.contact{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-between;
    margin: 0px 30% 0px;
    text-align: center;
    margin-top: 75px;
}
.contact i{
    font-size: 30px;
    text-align: center;
    color: var(--color-secudary); /*oficial color*/
    padding: 20px;
}
.contact a{
    text-align: center;
    color: var(--color-secudary); 
    font-size: 20px;
    right: 299px;
}
.wpp{
    right: 299px;
}
.contact form{
    color: var(--color-secudary);
    text-align: left;
}
input[type="text"] {
    width: 300px;
}


#courseSection{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    gap: 30px;
    row-gap: 30px;
    margin: 0px 10%;
    justify-content: center;
}
.courses{
    border: 2px solid var(--color-secudary);
    align-items: center;
    border-radius: 5px;
    align-items: center;
    
}
div.courses {
    width: auto;
    height: 100px;
}
.courses h1{
    margin-left: 10px;
    margin-top: 10px;
    font-size: 16px;

}
.courses h2{
    font-size: 10px;
    margin-right: 10px;
    text-align: end;
    opacity: 0.6;
}


#projectsSection{
    margin: 0px 5%;
    display: grid;
    grid-template-columns: auto auto auto ;
    gap: 30px;
    justify-content: space-between;
}
.projects{
    border: 2px solid var(--color-secudary);
    padding: 10px;
    width: 700px;
    height: 750px;
}
.projects h1{
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}
.projects h2{
    text-align: left;
    font-size: 18px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.projects h3{
    text-align: left;
    font-size: 18px;
    margin-bottom: 20px;
}
.projects img{
    width: 100%;
    align-items: center;
}
.img{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    gap: 20px;
    padding: 10px;
}
.projects a{
    color: var(--color-secudary);
}


/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 670px) {
    .header img{
      float: none;
      display: block;
      text-align: left;
    }
}

@media screen and (max-width: 670px) {
    .row{
        display: grid;
    }
}

@media screen and (max-width: 670px) {
    .education{
        display: block;
        text-align: left;
    }
}

@media screen and (max-width: 670px) {
    .about{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

@media screen and (max-width: 670px) {
    .contact h5{
        font-size: 15px;
    }
}

@media screen and (max-width: 670px){
    #courseSection{
        display: grid;
        grid-template-columns: 50% 50% ;
        gap: 10px;
        row-gap: 10px;
        margin: 0px 10%;
        justify-content: center;
    }
    div.courses {
        width: auto;
        height: 100px;
    }
    .courses h1{
        margin-left: 10px;
        margin-top: 10px;
        font-size: 16px;
    
    }
    .courses h2{
        font-size: 10px;
        margin-right: 8px;
        text-align: end;
        opacity: 0.6;
    }
}